<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd"
	xmlns:tx="http://www.springframework.org/schema/tx">


	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/ifat"></property>
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/ifat/dao/Student.hbm.xml</value>
				<value>com/ifat/dao/Class.hbm.xml</value>
				<value>com/ifat/dao/Admin.hbm.xml</value>
				<value>com/ifat/dao/Questionnaire.hbm.xml</value>
				<value>com/ifat/dao/ClassQuestionnaire.hbm.xml</value>
			</list>
		</property>
	</bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />

	<!-- DAO -->
	<bean id="StudentDAO" class="com.ifat.dao.StudentDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ClassDAO" class="com.ifat.dao.ClassDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="AdminDAO" class="com.ifat.dao.AdminDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="QuestionnaireDAO" class="com.ifat.dao.QuestionnaireDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ClassQuestionnaireDAO" class="com.ifat.dao.ClassQuestionnaireDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<!-- Service -->
	<bean id="adminService" class="com.ifat.service.AdminService"
		scope="prototype">
		<property name="adminDAO" ref="AdminDAO"></property>
		<property name="classDAO" ref="ClassDAO"></property>
		<property name="studentDAO" ref="StudentDAO"></property>
	</bean>
	<bean id="studentService" class="com.ifat.service.StudentService"
		scope="prototype">
		<property name="studentDAO" ref="StudentDAO"></property>
	</bean>
	<bean id="questionnaireService" class="com.ifat.service.QuestionnaireService"
		scope="prototype">
		<property name="questionnaireDAO" ref="QuestionnaireDAO"></property>
		<property name="classQuestionnaireDAO" ref="ClassQuestionnaireDAO"></property>
	</bean>
	<!-- Action -->

	<bean id="adminBasicOperationAction" class="com.ifat.action.AdminBasicOperationAction"
		scope="prototype">
		<property name="adminService" ref="adminService"></property>
	</bean>
	<bean id="studentBasicOperationAction" class="com.ifat.action.StudentBasicOperationAction"
		scope="prototype">
		<property name="studentService" ref="studentService"></property>
	</bean>
</beans>